<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0-windows</TargetFramework>
    <PublishDir>bin\Publish\win-x64\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <UseAppHost>true</UseAppHost>
    <DebugType>none</DebugType>
  </PropertyGroup>
</Project>
