<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="PortMTR Enterprise"
    Manufacturer="PortMTR"
    Version="1.0.0"
    UpgradeCode="ae77fd9d-3b2c-4726-8323-a4ea676233a3"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of PortMTR Enterprise is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PortMTR Enterprise" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="PortMTR Enterprise" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
